#scratch-wrapper {
  display: inline-block;
  position: relative;
}

#scratch-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#scratch-content {
  user-select: none;
  opacity: 0;
  transition: 0.4s opacity;
  transition-delay: 200ms;
  z-index: 1;

  &.complete {
    user-select: auto;
  }

  &.active {
    opacity: 1;
  }
}
