<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <scratch-element coverImage="https://picsum.photos/200/180" backgroundMode="cover" winPercentage="80">
        <h1>This is my content</h1>
        <h2>This is how i live</h2>
        <h2>This is how i live</h2>
        <h2>This is how i live</h2>
        <h2>This is how i live</h2>
        <h2>This is how i live</h2>
    </scratch-element>

    <script>
        const myElement = document.querySelector('scratch-element');
        myElement.addEventListener('onComplete', (e) => {console.log(e)});
    </script>
</body>
</html>
